.header {
  color: var(--primary-light);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.list {
  border-style: solid;
  border-width: var(--border-width);
  border-color: grey;
  border-radius: var(--border-radius);
  padding: 0 var(--size-3);
  margin-bottom: var(--size-4);
}

.list > li {
  box-sizing: border-box;
  display: flex;
  border-top: var(--size-1) solid #505050;
  border-bottom: var(--size-1) solid #505050;
}

.list > li:hover {
  border-top: var(--size-1) solid #d6d6d6;
  border-bottom: var(--size-1) solid #d6d6d6;
}

.list > li:first-child {
  border-top: 0;
}

.list > li:last-child {
  border-bottom: 0;
}

.list > li {
  padding: var(--size-3) 0;
}

.list > li:before {
  margin-right: var(--size-2);
  font-weight: bold;
  counter-increment: list-item;
  content: counter(list-item, decimal-leading-zero) ".";
}
