.list {
  border-style: solid;
  border-width: 0.1rem;
  border-color: grey;
  border-radius: 0.25rem;
}

.list > li {
  box-sizing: border-box;
  display: flex;
  border-top: 0.1rem solid #505050;
  border-bottom: 0.1rem solid #505050;
}

.list > li:hover {
  border-top: 0.1rem solid #d6d6d6;
  border-bottom: 0.1rem solid #d6d6d6;
}

.list > li:first-child {
  border-top: 0;
}

.list > li:last-child {
  border-bottom: 0;
}

.list > li > * {
  padding: 0.5em 0;
}

.list > li:before {
  padding: 0.5em 0;
  margin-right: 0.3rem;
  font-weight: bold;
  counter-increment: list-item;
  content: counter(list-item, decimal-leading-zero) ".";
}
