.holder {
  display: flex;
  flex-direction: column;
}

.header {
  color: var(--primary-light);
  font-size: var(--size-5);
  font-weight: 600;
  text-align: center;
}

.list {
  border-style: solid;
  border-width: 0;
  padding: 0 var(--size-3);
}

.list > li {
  display: flex;
  align-items: baseline;
  border-style: solid;
  border-color: var(--primary-dark);
  border-width: var(--size-1) 0;
  width: 100%;
  padding: var(--size-3) 0;
}

.list > li:hover {
  border-color: var(--primary);
}

.list > li:first-child {
  border-top: 0;
}

.list > li:last-child {
  border-bottom: 0;
}

.list > li:before {
  font-weight: 600;
  counter-increment: list-item;
  content: counter(list-item, decimal-leading-zero) ".";
  margin-right: var(--size-2);
}

.list > li.completed > * {
  opacity: 0.25;
}
