.actbar {
  position: sticky;
  background-color: var(--background-primary);
  top: var(--navbar-height);
  z-index: 1;
}

.actbarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  width: 100%;
  color: var(--primary-light);
  font-size: var(--size-5);
  padding: var(--size-2);
  font-weight: var(--font-heavy);
  text-align: center;
  cursor: pointer;
}
