.viewport {
  position: relative;
  overflow: hidden;
  width: 20rem;
  height: 20rem;
}

.inputArea {
  position: absolute;
  width: 100%;
  height: 100%;
}

.inputArea.active {
  position: fixed;
  left: 0;
  top: 0;
}
