.workspace {
  display: flex;
  height: 30rem;
}

.editor {
  flex-grow: 1;
  overflow-y: scroll;
}

.fileList {
  min-width: 4rem;
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary);
  margin-right: var(--size-2);
}

.fileListItem {
  padding: 0 var(--size-2);
}

.selected {
  background-color: var(--highlight);
}

@media (hover: hover) {
  .fileListItem:hover {
    border-color: var(--primary);
  }
}
