.editorForm {
  flex-grow: 1;
}

.workspace {
  display: flex;
  height: 10rem;
  flex-grow: 1;
  gap: var(--size-2);
}

.editor {
  flex-grow: 1;
  overflow-y: scroll;
  font-family: "Consolas", monospace;
}

.editorTextArea {
  outline: inherit;
}

.fileList {
  min-width: 4.5rem;
  height: fit-content;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--accent-primary);
  border-radius: var(--border-radius);
  padding: var(--size-2);
  overflow-y: auto;
}

.fileListItem {
  padding: 0 var(--size-2);
}

.selected {
  background-color: var(--background-highlight);
}

@media (hover: hover) {
  .fileListItem:hover {
    border-color: var(--accent-highlight);
  }
}
