.actHolder {
  position: sticky;
  background-color: var(--background-primary);
  top: var(--navbar-height);
  z-index: 1;
}

.actHolderHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
