.actbar {
  position: sticky;
  background-color: var(--background-primary);
  top: var(--navbar-height);
}

.actbarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
