.default {
  color: white;
  font-weight: bold;
}

.enemy {
  color: darkorange;
  font-weight: bold;
}

.area {
  color: #ffcf91;
  font-weight: bold;
}

.quest {
  color: gold;
  font-weight: bold;
}

.quest_text {
  color: lime;
  font-weight: bold;
}

.waypoint {
  color: #8ab3ff;
  font-weight: bold;
}

.gem-strength {
  color: #ff3333;
  font-weight: bold;
}

.gem-dexterity {
  color: #33ff33;
  font-weight: bold;
}

.gem-intelligence {
  color: #3333ff;
  font-weight: bold;
}

.trial {
  color: darkseagreen;
  font-weight: bold;
}

.portal {
  color: #8ab3ff;
  font-weight: bold;
}

.icon {
  vertical-align: middle;
  object-fit: contain;
  width: auto;
  height: 1rem;
}
