.default {
  color: var(--primary-light);
  font-weight: 600;
}

.enemy {
  color: darkorange;
  font-weight: 600;
}

.area {
  color: #ffcf91;
  font-weight: 600;
}

.quest {
  color: gold;
  font-weight: 600;
}

.questText {
  color: lime;
  font-weight: 600;
}

.waypoint {
  color: #8ab3ff;
  font-weight: 600;
}

.trial {
  color: darkseagreen;
  font-weight: 600;
}

.portal {
  color: #8ab3ff;
  font-weight: 600;
}

.icon {
  vertical-align: sub;
  width: auto;
  height: var(--size-4);
  margin-right: var(--size-1);
}

.iconBlock {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: var(--size-5);
}

.iconBlock > * {
  position: absolute;
  transform: translate(0, -50%);
  width: 100%;
  height: auto;
}
