.default {
  color: var(--primary-light);
  font-weight: var(--font-heavy);
}

.enemy {
  color: darkorange;
  font-weight: var(--font-heavy);
}

.area {
  color: #ffcf91;
  font-weight: var(--font-heavy);
}

.quest {
  color: gold;
  font-weight: var(--font-heavy);
}

.questText {
  color: lime;
  font-weight: var(--font-heavy);
}

.waypoint {
  color: #8ab3ff;
  font-weight: var(--font-heavy);
}

.trial {
  color: darkseagreen;
  font-weight: var(--font-heavy);
}

.portal {
  color: #8ab3ff;
  font-weight: var(--font-heavy);
}

.noWrap {
  display: inline-block;
  white-space: pre;
}
