.viewer {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.viewport {
  display: flex;
  height: 20rem;
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--accent-primary);
  border-radius: var(--border-radius);
}

.label {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--on-secondary);
  min-height: var(--line-height);
}

.buttons {
  display: flex;
  align-items: stretch;
  gap: var(--size-2);
}

.button {
  display: flex;
  justify-content: center;
  align-content: center;
  height: var(--line-height);
  flex: 1;
}

.tooltip {
  display: block;
  position: absolute;
  transform: translateX(-100%) translateX(calc(-1 * var(--size-2)));
  overflow: visible;
  background-color: var(--primary);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--accent-primary);
  border-radius: var(--border-radius);
  padding: var(--size-2);
  max-width: 20rem;
}

.tooltipTitle {
  color: var(--on-secondary);
  font-weight: var(--font-heavy);
}
