.modal {
  display: flex;
  height: 100%;
  width: 100%;
  background: var(--background-primary);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--accent-primary);
  border-radius: var(--border-radius);
  outline-style: none;
  overflow: auto;
}

.small {
  max-height: 20rem;
  max-width: 20rem;
}

.large {
  max-height: 40rem;
  max-width: 40rem;
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 2rem;
  inset: 0px;
  z-index: 3;
}

.grow {
  flex-grow: 1;
}

.textInput {
  width: 100%;
  flex-grow: 1;
  resize: none;
  overflow: hidden;
}
