.route {
  border-style: solid;
  border-width: 0.1rem;
  border-color: grey;
  border-radius: 0.25rem;
}

.route > li {
  display: flex;
  border-bottom: 0.1rem solid #505050;
}

.route > li:last-child {
  border-bottom: 0;
}

.route > li > * {
  padding: 0.5em 0;
}

.route > li:before {
  padding: 0.5em 0;
  margin-right: 0.3rem;
  font-weight: bold;
  counter-increment: list-item;
  content: counter(list-item, decimal-leading-zero) ".";
}
