.navbar {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-darker);
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: var(--size-3);
}

.navHolder {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: var(--size-4);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
}

.navItems {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.navItem {
  color: var(--primary-light);
  text-align: right;
  text-decoration: none;
  font-weight: var(--font-heavy);
  padding: var(--size-3);
  width: 100%;
}

.navIcon {
  display: block;
  box-sizing: content-box;
  height: fit-content;
  padding: var(--size-3);
}

.expandable:not(.expand) {
  display: none;
}
