.navbar {
  background-color: var(--primary-darker);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 15rem;
  height: 100%;
  padding: var(--size-4);
  font-size: var(--size-4);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
}

.navItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navItem {
  color: var(--primary-light);
  text-align: center;
  text-decoration: none;
  font-weight: var(--font-heavy);
  padding: var(--size-3);
}

.navIcon {
  display: inline-flex;
  box-sizing: content-box;
  height: var(--line-height);
  padding: var(--size-3);
  align-items: center;
  margin-left: auto;
}

@media screen and (max-width: 600px) {
  .navbar {
    position: sticky;
    width: fit-content;
  }

  .navbar.expand {
    width: 100%;
  }

  .navItems:not(.expand) > * {
    display: none;
  }
}
