.navbar {
  background-color: var(--primary-darker);
  position: sticky;
  top: 0;
  z-index: 1;
  color: var(--border-color);
}

.navHolder {
  display: flex;
  font-size: var(--size-4);
}

.navItems {
  display: flex;
  align-items: flex-start;
  padding: var(--size-3);
}

.navItems > *:not(:last-child) {
  margin-right: var(--size-3);
}

.navItem {
  color: var(--primary-light);
  text-align: center;
  text-decoration: none;
  font-weight: var(--font-heavy);
}

.navIcon {
  display: none;
  box-sizing: content-box;
  height: var(--line-height);
  padding: var(--size-3);
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .navIcon {
    display: inline-flex;
  }

  .navItems:not(.expand) > *:not(:first-child) {
    display: none;
  }

  .navItems.expand {
    flex-direction: column;
  }

  .navItems.expand > *:not(:last-child) {
    margin-bottom: var(--size-3);
  }

  .navItem.expand {
    width: 100%;
  }
}
