.navbar {
  display: flex;
  flex-direction: column;
  background-color: var(--background-secondary);
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  max-height: 100vh;
  overflow: auto;
}

.navHolder {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  align-items: flex-end;
  font-size: var(--size-4);
}

.navHolder.expand {
  flex-direction: column;
}

.navItems {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-self: stretch;
  padding: 0 var(--size-3);
}

.navItems.expand {
  flex-direction: column;
  background-color: var(--background-primary);
}

.navItems > .navItem:first-child {
  border-top: 0;
}

.navItems > .navItem:last-child {
  border-bottom: 0;
}

.navItem {
  text-align: left;
  width: 100%;
}

.navItem.expand {
  text-align: right;
  border-style: solid;
  border-color: var(--accent-secondary);
  border-width: var(--size-1) 0;
}

@media (hover: hover) {
  .navItem:hover {
    border-color: var(--primary);
  }
}

.navElement {
  color: var(--primary-light);
  font-weight: var(--font-heavy);
  padding: var(--size-3) 0;
}

.navIcon {
  display: block;
  box-sizing: content-box;
  height: var(--line-height);
  width: var(--line-height);
  padding: var(--size-3);
}

.seperator:not(.expand) {
  display: none;
}

.navMain:not(.expand) > *:nth-child(n + 3) {
  display: none;
}

.navAccordion:not(.expand) > * {
  display: none;
}
