.tooltip {
  display: block;
  position: absolute;
  transform: translateX(-100%) translateX(calc(-1 * var(--size-2)));
  overflow: visible;
  background-color: var(--primary);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--accent-primary);
  border-radius: var(--border-radius);
  line-height: initial;
  padding: var(--size-2);
}

.tooltip > * {
  line-height: inherit;
}

.tooltipTitle {
  color: var(--on-secondary);
  font-weight: var(--font-heavy);
}
