.modal {
  display: flex;
  height: 100%;
  width: 100%;
  max-height: 30rem;
  max-width: 30rem;
  background: var(--background-primary);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--accent-primary);
  border-radius: var(--border-radius);
  overflow: auto;
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 5%;
  inset: 0px;
  z-index: 3;
}
