.viewer {
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  max-height: 20rem;
  width: 20rem;
}

.viewport {
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--accent-primary);
  border-radius: var(--border-radius);
}

.label {
  text-align: center;
  color: var(--primary-light);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: var(--line-height);
}

.buttons {
  display: flex;
  align-items: stretch;
  height: var(--size-5);
  gap: var(--size-2);
}

.button {
  height: unset;
  flex: 1;
}
