.default {
  color: var(--primary-light);
  font-weight: var(--font-heavy);
}

.rewardHolder {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  white-space: pre-wrap;
}

.rewardMain{
  flex-grow: 1;
  flex-basis: 8rem;
  margin-right: var(--size-4);
}

.rewardNote {
  flex-basis: 8rem;
  white-space: pre-wrap;
  color: var(--primary-light);
}

.noWrap {
  display: inline-block;
  white-space: pre;
}
