.default {
  color: var(--primary-light);
  font-weight: var(--font-heavy);
}

.rewardHolder {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  white-space: pre-wrap;
}

.rewardHolder > * {
  flex-grow: 1;
  flex-basis: 8rem;
}

.rewardNote {
  text-align: right;
  white-space: pre-wrap;
  text-align-last: right;
  color: var(--primary-light);
}

.noWrap {
  display: inline-block;
  white-space: pre;
}
