.form {
  border-style: solid;
  border-width: 0;
  padding: var(--size-3);
}

.form > *:not(:last-child) {
  margin-bottom: var(--size-3);
}

.formRow > label {
  color: var(--primary-light);
  font-size: 1rem;
  font-weight: var(--font-heavy);
}

.formInput {
  display: block;
  padding: var(--size-2);
  color: var(--primary);
  background-color: var(--background-primary);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--accent-primary);
  border-radius: var(--border-radius);
  outline: none;
}

.groupLeft {
  display: flex;
  justify-content: start;
}

.groupRight {
  display: flex;
  justify-content: end;
}

.formButton {
  font-size: 1rem;
  font-weight: var(--font-heavy);
  color: var(--primary-light);
  background-color: var(--background-primary);
  border-width: var(--border-width);
  border-color: var(--accent-primary);
  border-radius: var(--border-radius);
  padding: var(--size-2);
  margin-left: var(--size-2);
}

@media (hover: hover) {
  .formButton:hover {
    background-color: var(--highlight);
  }
}
