.form {
  display: flex;
  flex-direction: column;
  padding: var(--size-3);
  gap: var(--size-3);
}

.formRow {
  display: flex;
  flex-direction: column;
}

.formRow > label {
  color: var(--primary-light);
  font-size: 1rem;
  font-weight: var(--font-heavy);
}

.groupLeft {
  display: flex;
  justify-content: start;
  gap: var(--size-2);
}

.groupRight {
  display: flex;
  justify-content: end;
  gap: var(--size-2);
}

.formInput {
  display: block;
  padding: var(--size-2);
  color: var(--primary);
  background-color: var(--background-primary);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--accent-primary);
  border-radius: var(--border-radius);
  outline: none;
}

.formButton {
  font-size: 1rem;
  font-weight: var(--font-heavy);
  color: var(--primary-light);
  background-color: var(--background-primary);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--accent-primary);
  border-radius: var(--border-radius);
  padding: var(--size-2);
}

.formButton:active {
  background-color: var(--highlight);
}
