.gemLinks {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  text-align: center;
  color: var(--on-secondary);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: var(--line-height);
}

.buttons {
  display: flex;
  align-items: stretch;
  gap: var(--size-2);
}

.button {
  display: flex;
  justify-content: center;
  align-content: center;
  height: var(--line-height);
  flex: 1;
}

.gemLinkSection {
  display: flex;
  flex-direction: column;
  overflow: auto;
  overscroll-behavior: contain;
}

.gemLinkRow {
  display: flex;
  flex-direction: column;
}

.gemPrimary {
  font-weight: bold;
}

.gemSecondary {
  margin-left: var(--size-4);
}
