.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: calc(var(--navbar-height) + var(--actbar-height) + var(--size-2));
  right: var(--size-2);
  z-index: 1;
  background-color: var(--background-primary);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--accent-primary);
  border-radius: var(--border-radius);
  padding: var(--size-2);
  z-index: 2;
}

.sidebarContents:not(.expand) {
  display: none;
}

.sidebarToggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--line-height);
  color: var(--primary-light);
  font-weight: var(--font-heavy);
}

.sidebarItems {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.searchString {
  display: flex;
  text-overflow: clip;
  word-break: break-all;
}

@media (hover: hover) {
  .searchString:hover {
    border-color: var(--primary);
  }
}
