:root {
  --primary: #d4d4d4;
  --primary-dark: #505050;
  --primary-light: #f5f5f5;
  --primary-darker: #0a0a0a;
  --border-color: #808080;
  --border-width: 0.1rem;
  --border-radius: 0.25rem;
  --size-1: 0.1rem;
  --size-2: 0.3rem;
  --size-3: 0.5rem;
  --size-4: 1rem;
  --size-5: 1.5rem;
}

*,
::after,
::before {
  box-sizing: inherit;
  font-family: inherit;
  padding: 0;
  margin: 0;
  user-select: none;
}

html {
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: var(--primary-darker);
  color: var(--primary);
  font-family: "Source Sans Pro";
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

hr {
  border-style: solid;
  border-width: var(--size-1);
  color: var(--border-color);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  width: auto;
  max-width: 1280px;
  padding-left: var(--size-2);
  padding-right: var(--size-2);
  padding-bottom: var(--size-2);
}

.inlineIcon {
  vertical-align: sub;
  width: auto;
  height: var(--size-4);
  margin-right: var(--size-1);
}

.inlineIconBlock {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: var(--size-5);
}

.inlineIconBlock > * {
  position: absolute;
  transform: translate(0, -50%);
  width: 100%;
  height: auto;
}
