.gemOrder {
  display: flex;
  white-space: pre-wrap;
  width: 100%;
}

.orderButtonGroup {
  display: flex;
  flex-shrink: 0;
  margin-left: auto;
}

.orderButton {
  border-radius: 0.25rem;
}

.orderButton:hover {
  background-color: #4e4e4e;
}

.orderButton > img {
  width: auto;
  height: 1rem;
  align-self: center;
}

.orderButtonFlip > img {
  transform: scaleY(-1);
}
