.gemOrder {
  display: flex;
  white-space: pre-wrap;
  width: 100%;
}

.orderButtonGroup {
  flex-shrink: 0;
  margin-left: auto;
}

.orderButton {
  width: auto;
  height: 1rem;
  align-self: center;
  margin-left: 0.3rem;
}

.orderButtonFlip {
  transform: scaleY(-1);
}
