.gem-order {
  display: flex;
  white-space: pre-wrap;
  width: 100%;
}

.gem-text {
  color: white;
  font-weight: bold;
}

.gem-strength {
  color: #ff3333;
  font-weight: bold;
}

.gem-dexterity {
  color: #33ff33;
  font-weight: bold;
}

.gem-intelligence {
  color: #3333ff;
  font-weight: bold;
}

.order-button-group {
  margin-left: auto;
  display: flex;
}

.order-button {
  width: auto;
  height: 1rem;
  align-self: center;
  margin-left: 0.3rem;
}

.order-button-flip {
  transform: scaleY(-1);
}
