.gem-order {
  display: flex;
  white-space: pre-wrap;
  width: 100%;
}

.order-button-group {
  margin-left: auto;
  display: flex;
}

.order-button {
  width: auto;
  height: 1rem;
  align-self: center;
  margin-left: 0.3rem;
}

.order-button-flip {
  transform: scaleY(-1);
}
