.gemOrder {
  display: flex;
  white-space: pre-wrap;
  width: 100%;
  user-select: none;
}

.icon {
  vertical-align: sub;
  width: auto;
  height: var(--size-4);
  margin-right: var(--size-1);
}

.orderButtonGroup {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: auto;
}

.orderButton {
  border-radius: var(--border-radius);
  position: relative;
  width: var(--size-5);
  padding: 0 var(--size-2);
}

.orderButton:hover {
  background-color: #4e4e4e;
}

.orderButton > * {
  position: absolute;
  transform: translate(0, -50%);
  width: 100%;
  height: auto;
}
