.gemOrder {
  display: flex;
  width: 100%;
  gap: var(--size-3);
}

.orderButtonGroup {
  height: var(--line-height);
  display: flex;
}

.orderButton {
  border-radius: var(--border-radius);
}

@media (hover: hover) {
  .orderButton:hover {
    background-color: var(--highlight);
  }
}
