.gemOrder {
  display: flex;
  width: 100%;
  gap: var(--size-3);
}

.orderButtonGroup {
  height: var(--line-height);
  display: flex;
  gap: var(--size-2);
}

.orderButton {
  width: var(--line-height);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--accent-primary);
  border-radius: var(--border-radius);
}

.orderButtonImage {
  height: 100%;
  width: 100%;
}

.orderButton:active {
  background-color: var(--background-highlight);
}
