.fileList {
  min-width: 4.5rem;
  height: fit-content;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--accent-primary);
  border-radius: var(--border-radius);
  padding: var(--size-2);
  overflow-y: auto;
}

.fileListItem {
  padding: 0 var(--size-2);
  cursor: pointer;
}

.selected {
  background-color: var(--background-highlight);
}

@media (hover: hover) {
  .fileListItem:hover {
    border-color: var(--accent-highlight);
  }
}
